
<div style="text-align: center;">
  <h1>
    {{ title }}
  </h1>
  <app-teclado></app-teclado>
</div>
<div style="text-align: left;"> Turma: Superior de Tecnologia em Análise e Desenvolvimento de Sistemas</div> 
<div style="text-align: left;"> Turno: Manha</div> 
<div style="text-align: right;"> Nome: Vinicius Magalhaes da Silva</div>
<div style="text-align: left;"> Unidade: Bonsucesso</div> 

<div style="text-align: center;">
<img src="/src/assets/images/vinicius.png" alt="foto">
</div>



<router-outlet></router-outlet>
